<section class="container max-w-screen-2xl mx-auto px-4 md:px-20 mt-10">
  <div class="container mx-auto px-4">
    <h5
      class="inline-block text-[#13C5DD] uppercase border-b-4 text-2xl font-bold text-center"
    >
      What Our Patients Say About Us
    </h5>

    <div
      class="swiffy-slider slider-item-show3 slider-nav-dark slider-nav-visible slider-nav-outside slider-item-snapstart my-7 slider-nav-sm my-xl-5 slider-indicators-square slider-indicators-outside slider-indicators-dark slider-nav-animation-slideup slider-nav-animation slider-item-first-visible"
    >
      <div class="slider-container">
        <% patients.forEach((patient, index) => { %>
        <div class="slide-visible">
          <div class="w-full px-4 mb-8">
            <div class="bg-white p-6 rounded-lg shadow-lg">
              <p class="text-gray-600 mb-4 text-lg italic">
                "<%= patient.quote %>"
              </p>
              <div class="flex items-center">
                <img
                  src="<%= patient.image %>"
                  alt="Patient <%= index + 1 %>"
                  class="w-24 h-24 rounded-full mr-4 object-cover"
                />
                <div>
                  <p class="text-gray-800 font-bold text-lg">
                    <%= patient.name %>
                  </p>
                  <span class="text-black text-base"><%= patient.city %></span>

                  <p class="text-gray-600 text-sm">
                    <%= patient.designation %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>

      <button type="button" class="slider-nav" aria-label="Go left"></button>
      <button
        type="button"
        class="slider-nav slider-nav-next"
        aria-label="Go right"
      ></button>

      <div
        class="slider-indicators"
        style="justify-content: right; margin-left: 3rem"
      >
        <% patients.forEach((patient, index) => { %>
        <button
          class="<%= index === 0 ? 'active' : '' %>"
          aria-label="Go to slide"
        ></button>
        <% }) %>
      </div>
    </div>
  </div>
</section>
